  .div_contentmenu {
    background-image: url(../img/leftmenu.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    height: 243px;
  }
  .div_contentmenu_divider {
    background-image: url(../img/menu_divider.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 6px;
  }
  .div_contentmenu_entry {
	background-position: center;
    text-align: center;
  }
  .div_seriesurl {
    background-image: url(../img/seriesWebsite.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    height: 19px;
  }
  .div_impressie {
    background-image: url(../img/FotoImpressie.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    height: 254px;
  }
  .div_test{
	background-image: url(../img/FotoImpressie.png);
	background-repeat: no-repeat;
	background-position: top;
	text-align: center;
	height: 254px;
	width: 357px;
  }
  .div_impressie_foto {
    background-image: url(../img/empty.gif);
    background-position: top;
    background-repeat: no-repeat;
    height: 215px;
  }
  .div_impressie_titel_nl {
    background-image: url(../img/FotoImpressie_nl.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 19px;
  }
  .div_impressie_titel_en {
    background-image: url(../img/FotoImpressie_en.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 19px;
  }
  .div_infoitem_title {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
  }
  .div_infoitem_title_2 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight: bold;
	color: #000;
	text-align: center;
  }
  .infoitemtitel {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color: #FFF;
	text-align: left;
  }
  .infoitemboven {
	background: url(../img/boven.png) no-repeat top center ;
	width: 722px;
	height: 41px;
  }
  .infoitemmidden { 
  	background: url(../img/midden.png) repeat-y top center; 
	width: 722px;
	clear: both;
  }
  .infoitemonder {
  	height: 19px;
	width: 722px;
	background: url(../img/onder.png) no-repeat bottom center; 
  }
  .infoitemcontent {
	background-color: #EAEAEA;
	width: 680px;
	margin-top:0px;
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;
  }
  .div_logo {
	background-image:url(../img/logo.png);
	background-position:center;
	background-repeat:no-repeat;
	height:112px;
  }
  .div_language {
	text-align: center;
	background-position: center;
	width: 680px;
  }
  .div_topmenu {
    background-position: center;
    background-image:url(../img/header.png);
    background-repeat: no-repeat;
    height:30px;
    text-align: center;
    vertical-align: top;
    width:100%;
  }
  .div_header {
    background-image:url(../img/header.png);
    background-position:center;
    background-repeat:no-repeat;
    height:40px;
  }
  .div_seperator {
    background-image:url(../img/schaduw.gif);
    background-repeat:repeat-x;
    background-position:center;
    vertical-align: top;
    height:10px;
    width:100%
  }
  .div_titel {
    background-image:url(../img/titel_nl.png);
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    background-color: black;
    height:188px
  }
  .div_datum_nl {
    background-position: top;
    background-position:center;
    text-align: center;
    font-weight: bold;
	font-family: sans-serif;
	font-size: x-large;
	color: white;
    height:58px
  }
  .div_datum_en {
    background-position: top;
    background-position:center;
	font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
	color: white;
    height:58px
  }
  .div_content {
    background-image:url(../img/body.png);
    background-repeat:no-repeat;
    background-position:top;
    border: medium;
    height:500px;
  }
  .titel {
  	color : white;
  	font-weight: bold
  }
  .div_wedstrijdslijst {
  	text-align: center;
  	background-position: center;
  	background-repeat: no-repeat;
  }
  .div_pagina_title {
    font-size: x-large;
    font-weight: bold;
    border: thin;
    border-color: white;
    border-bottom: 2px;
  }
  .div_wedstrijdslijst {
  	text-align: center;
  	background-position: center;
  	background-repeat: no-repeat;
  }
  .div_teamlijst {
  	text-align: center;
  	background-position: center;
  	background-repeat: no-repeat;
  }
  .div_sponsors {
  }
  A {
  	color: #000000;
  }
  A:active {
  	color: #000000;
  }
  A:visited {
  	color: #000000;
  }
  .link_A:active {
	color: #000000;
	font-weight: bold;
	background-color: #666666;
  }
  .link_A:visited {
	color: #000000;
	font-weight: bold;
	background-color: #666666;
  }
  .link_A:link {
	color: #000000;
	font-weight: bold;
	background-color: #666666;
  }
  .div_flyer {
	background-position: right;
	background-repeat: no-repeat;
	text-align: right;
  }
  div.ddsmoothmenu {
	background-position: top;
	text-align: center;
	width: 800px;
	height: 38px;
  }