#header {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px
}
#content {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; MARGIN-TOP: 10px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 10px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
#col_left {
	PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; WIDTH: 170px
}
#col_left DIV.main_box {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url("../images/box_top.gif"); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; WIDTH: 170px; PADDING-TOP: 6px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #164e99
}
#col_left DIV.main_box P A:link {
	COLOR: #164e99
}
#col_left DIV.main_box P A:active {
	COLOR: #164e99
}
#col_left DIV.main_box P A:visited {
	COLOR: #164e99
}
#col_left DIV.main_box P A:hover {
	COLOR: #164e99
}
#col_main {
	VERTICAL-ALIGN: top
}
#col_main DIV.main_box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; WIDTH: 100%; PADDING-TOP: 1px; BACKGROUND-COLOR: #164e99
}
#col_right {
	PADDING-LEFT: 10px; VERTICAL-ALIGN: top; WIDTH: 170px
}
#col_right DIV.main_box {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url("../images/box_top.gif"); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; WIDTH: 170px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #999999
}
#col_right DIV.main_box P A:link {
	COLOR: #333333
}
#col_right DIV.main_box P A:active {
	COLOR: #333333
}
#col_right DIV.main_box P A:visited {
	COLOR: #333333
}
#col_right DIV.main_box P A:hover {
	COLOR: #666666
}
#current_nav {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #fafafa
}
#footer {
	CLEAR: both; DISPLAY: block; PADDING-BOTTOM: 1px; MARGIN: 15px 0px 10px; BORDER-BOTTOM: #2f64ac 1px solid
}
#current_nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; LIST-STYLE-IMAGE: url("../images/alt_bullet.gif"); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
#current_nav TABLE {
	WIDTH: 100%
}
#current_nav TD {
	VERTICAL-ALIGN: top; WIDTH: auto
}
#current_nav TH {
	VERTICAL-ALIGN: top; WIDTH: auto
}
#current_nav #last_seen_also_see {
	WIDTH: 160px
}
#current_nav #last_seen_also_see IMG {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid
}
#headernav {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 100%; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#headernav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 60px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#headernav LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 10px; PADDING-TOP: 0px
}
#headernav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: url("../img/left.gif") no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#headernav A SPAN {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: url("../img/right.gif") no-repeat right top; FLOAT: none; PADDING-BOTTOM: 6px; COLOR: #666666; PADDING-TOP: 9px
}
#headernav #current A {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
#headernav #current A SPAN {
	BACKGROUND-POSITION: 100% -150px; COLOR: #ffffff
}
#headernav A:hover {
	BACKGROUND-POSITION: 0% -150px; COLOR: #ffffff
}
#headernav A:hover SPAN {
	BACKGROUND-POSITION: 100% -150px; COLOR: #ffffff
}
#headernav A.ongletsimg {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#headernav A.ongletsimg:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#headernav IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#headernav LI.tab_spacer {
	MARGIN-LEFT: 30px
}
#searchbox {
	CLEAR: both; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #ffffff; BACKGROUND-COLOR: #cc0000; TEXT-ALIGN: center
}
#searchbox A:link {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox A:visited {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox A:active {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox A:hover {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox TD {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox #search_input {
	BORDER-RIGHT: #fafafa 1px solid; BORDER-TOP: #fafafa 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #fafafa 1px solid; COLOR: #194e97; BORDER-BOTTOM: #fafafa 1px solid
}
#headerlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#headerlink A:link {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #333333; TEXT-DECORATION: none
}
#headerlink A:visited {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #333333; TEXT-DECORATION: none
}
#headerlink A:active {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #333333; TEXT-DECORATION: none
}
#headerlink A:hover {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #194e97; TEXT-DECORATION: none
}
#headerlink .links {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 8px 10px; PADDING-TOP: 0px
}
#headerlink .links IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 10px; PADDING-TOP: 8px
}
#headerlogo {
	FLOAT: left; MARGIN: 0px; WIDTH: auto
}
#headerlink #flags {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#headerlink #flags #phone {
	MARGIN-RIGHT: 10px
}
#footer_search_box {
	CLEAR: both; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #194e97; TEXT-ALIGN: right
}
#footer_search_box INPUT {
	FONT-SIZE: 11px; MARGIN: 3px; COLOR: #194e97
}
#footer_links {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #2f64ac; TEXT-ALIGN: left
}
#footer_links A:link {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links A:active {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links A:visited {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links A:hover {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#footer_flags IMG {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
#footer_group {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #000000; TEXT-ALIGN: right
}
#cloack {
	FONT-SIZE: 9px; COLOR: #cccccc; TEXT-ALIGN: center
}
#cloack A {
	FONT-SIZE: 9px; COLOR: #cccccc; TEXT-ALIGN: center
}
#location_bar {
	FONT-SIZE: 11px; COLOR: #999999; BACKGROUND-COLOR: #ffffff
}
#location_bar A:link {
	FONT-SIZE: 11px; COLOR: #999999
}
#location_bar A:active {
	FONT-SIZE: 11px; COLOR: #999999
}
#location_bar A:visited {
	FONT-SIZE: 11px; COLOR: #999999
}
#location_bar A:hover {
	FONT-SIZE: 11px; COLOR: #999999; TEXT-DECORATION: underline
}
#location_bar H1 {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN: 0px
}
#minisky_left {
	MARGIN-BOTTOM: 15px
}
#dspCaddy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 99%; PADDING-TOP: 0px
}
#fraisLivraison {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 350px
}
#fraisLivraison FIELDSET {
	BORDER-RIGHT: #194e97 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #194e97 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #194e97 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #194e97 1px solid
}
#fraisLivraison LEGEND {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #194e97; PADDING-TOP: 0px
}
#fraisLivraison INPUT {
	VERTICAL-ALIGN: middle
}
#fraisLivraison TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
#fraisLivraison TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
#fraisLivraison TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 80px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#recap_caddy {
	CLEAR: both; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 15px; FLOAT: right
}
#recap_caddy TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; COLOR: #194e97; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
#recap_caddy TD {
	PADDING-LEFT: 15px; FONT-SIZE: 10px; COLOR: #ff0000; TEXT-ALIGN: right
}
#recap_caddy TD:first-line {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
#home #col_main A:link {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main A:hover {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main A:active {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main A:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main H3 A:link {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 A:hover {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 A:active {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 A:visited {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 {
	MARGIN: 20px 0px 10px; BORDER-BOTTOM: #666666 1px solid
}
#home #col_main A.home_cat_list_header:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main A.home_cat_list_header:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main A.home_cat_list_header:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main A.home_cat_list_header:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main #home_cat_list DIV {
	FLOAT: left; WIDTH: 48%; MARGIN-RIGHT: 5px; TEXT-ALIGN: justify
}
#home #col_main #top_sellers TABLE {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; FLOAT: left; MARGIN: 0px 0px 5px 5px; BORDER-LEFT: #dedede 1px solid; WIDTH: 48%; BORDER-BOTTOM: #dedede 1px solid; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
#home #col_main #top_sellers THEAD TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#home #col_main #top_sellers TBODY TH {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666666; BORDER-RIGHT-WIDTH: 0px
}
#home #col_main #top_sellers TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#home #col_main #top_sellers A:link {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers A:hover {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers A:visited {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers A:active {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers .red {
	TEXT-ALIGN: right
}
#nav_last_seen {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #fafafa
}
#nav_last_seen A:active {
	FONT-WEIGHT: normal; COLOR: #000000
}
#nav_last_seen A:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
#nav_last_seen A:link {
	FONT-WEIGHT: normal; COLOR: #000000
}
#nav_last_seen A:hover {
	FONT-WEIGHT: bold; COLOR: #000000
}
#nav_last_seen UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none; list-stype-position: inside
}
#nav_last_seen #last_also_seen {
	WIDTH: 200px; TEXT-ALIGN: center
}
#nav_last_seen #last_also_seen IMG {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid
}
#homecat #col_main H3 {
	MARGIN-BOTTOM: 0px
}
#homecat #col_main A:link {
	FONT-WEIGHT: normal; COLOR: #000000
}
#homecat #col_main A:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
#homecat #col_main A:active {
	FONT-WEIGHT: normal; COLOR: #000000
}
#homecat #col_main A:hover {
	COLOR: #666666
}
#homecat #col_main .rounded {
	MARGIN-BOTTOM: 15px; TEXT-ALIGN: center
}
#homecat #col_main .rounded TABLE {
	WIDTH: 100%; BACKGROUND-COLOR: #fafafa
}
#homecat #col_main .rounded TD {
	VERTICAL-ALIGN: top; WIDTH: 25%; BACKGROUND-COLOR: #fafafa
}
#homecat #col_main .rounded P {
	BACKGROUND-COLOR: #fafafa
}
#homecat #col_main .rounded H4 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#homecat #col_main .rounded H5 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#homecat #col_main .rounded IMG.tiny {
	BORDER-RIGHT: #d0d0d0 1px solid; BORDER-TOP: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; BORDER-BOTTOM: #d0d0d0 1px solid
}
#homecat #top10 {
	BORDER-RIGHT: #d0d0d0 1px solid; BORDER-TOP: #d0d0d0 1px solid; MARGIN-BOTTOM: 15px; BORDER-LEFT: #d0d0d0 1px solid; BORDER-BOTTOM: #d0d0d0 1px solid
}
#homecat #top10 TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
#homecat #top10 TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; COLOR: #999999; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px
}
#homecat #top10 .price {
	WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#homecat #top10 .publi {
	WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#homecat #top10 .saved {
	WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#homecat #top10 .avail {
	WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#homecat #top10 TH {
	WHITE-SPACE: normal
}
#homecat #top10 .avail {
	TEXT-ALIGN: center
}
#homecat DIV.get_more {
	BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d0d0d0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d0d0d0 1px solid; WIDTH: auto; PADDING-TOP: 5px; BORDER-BOTTOM: #d0d0d0 1px solid; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: right
}
#homecat DIV.get_more:hover {
	BACKGROUND-COLOR: #f4f4f4
}
#homecat DIV.get_more A {
	COLOR: #333333
}
#homecat TABLE.select {
	BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%
}
#homecat TABLE.select P {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
#homecat TABLE.select TD {
	PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; WIDTH: 25%; TEXT-ALIGN: center
}
#homecat TABLE.select A:link {
	FONT-WEIGHT: bold; COLOR: #000000
}
#homecat TABLE.select A:visited {
	FONT-WEIGHT: bold; COLOR: #000000
}
#homecat TABLE.select A:active {
	FONT-WEIGHT: bold; COLOR: #000000
}
#homecat TABLE.select A:hover {
	FONT-WEIGHT: bold; COLOR: #666666
}
#flash_item {
	BACKGROUND-COLOR: #fafafa
}
TABLE#flash_item {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 20px auto; BORDER-LEFT: #cccccc 1px solid; WIDTH: auto; BORDER-BOTTOM: #cccccc 1px solid
}
#flash_item A:hover {
	TEXT-DECORATION: none
}
#flash_item TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #666666; PADDING-TOP: 5px
}
#flash_item #img {
	VERTICAL-ALIGN: top; WIDTH: 160px; TEXT-ALIGN: center
}
#flash_item #img IMG {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 1px solid; BORDER-LEFT: #f4f4f4 1px solid; BORDER-BOTTOM: #f4f4f4 0px solid
}
#flash_item #rebate {
	BORDER-RIGHT: #f4f4f4 1px solid; BORDER-TOP: #f4f4f4 0px solid; MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 32px; PADDING-BOTTOM: 5px; MARGIN-LEFT: auto; BORDER-LEFT: #f4f4f4 1px solid; WIDTH: 150px; COLOR: #ff0000; MARGIN-RIGHT: auto; PADDING-TOP: 5px; BORDER-BOTTOM: #f4f4f4 1px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #ffffff
}
#flash_item #marque A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; HEIGHT: 18px
}
#flash_item #lib A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; HEIGHT: 18px
}
#flash_item #comment {
	LINE-HEIGHT: 20px
}
#flash_item #more {
	PADDING-TOP: 20px; TEXT-ALIGN: right
}
#tmp_flash {
	MARGIN-BOTTOM: 15px
}
