BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
CAPTION {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
/* Impact op titel info-item */
DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SPAN {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
BIG {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
SMALL {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
STRONG {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
LEGEND {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	VERTICAL-ALIGN: middle
}
P {
	LINE-HEIGHT: 1.4em
}
B {
	FONT-WEIGHT: 900
}
STRONG {
	FONT-WEIGHT: 900
}
I {
	FONT-STYLE: italic
}
EM {
	FONT-STYLE: italic
}
H1 {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:link {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:hover {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:active {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:visited {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H2 {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:link {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:hover {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:active {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:visited {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H3 {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:link {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:hover {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:active {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:visited {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H4 {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:link {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:hover {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:active {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:visited {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:link {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:hover {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:active {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:visited {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:link {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:hover {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:active {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:visited {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
SMALL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BIG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	FONT-WEIGHT: 900; COLOR: #164e99; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: 900; COLOR: #164e99; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: 900; COLOR: #164e99; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: 900; COLOR: #164e99; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.spacer {
	CLEAR: both; FONT-SIZE: 0px
}
#header {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px
}
#content {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; MARGIN-TOP: 10px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 10px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
#col_left {
	PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; WIDTH: 170px
}
#col_left DIV.main_box {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url("../images/box_top.gif"); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; WIDTH: 170px; PADDING-TOP: 6px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #164e99
}
#col_left DIV.main_box P A:link {
	COLOR: #164e99
}
#col_left DIV.main_box P A:active {
	COLOR: #164e99
}
#col_left DIV.main_box P A:visited {
	COLOR: #164e99
}
#col_left DIV.main_box P A:hover {
	COLOR: #164e99
}
#col_main {
	VERTICAL-ALIGN: top
}
#col_main DIV.main_box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; WIDTH: 100%; PADDING-TOP: 1px; BACKGROUND-COLOR: #164e99
}
#col_right {
	PADDING-LEFT: 10px; VERTICAL-ALIGN: top; WIDTH: 170px
}
#col_right DIV.main_box {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url("../images/box_top.gif"); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; WIDTH: 170px; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #999999
}
#col_right DIV.main_box P A:link {
	COLOR: #333333
}
#col_right DIV.main_box P A:active {
	COLOR: #333333
}
#col_right DIV.main_box P A:visited {
	COLOR: #333333
}
#col_right DIV.main_box P A:hover {
	COLOR: #666666
}
#current_nav {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #fafafa
}
#footer {
	CLEAR: both; DISPLAY: block; PADDING-BOTTOM: 1px; MARGIN: 15px 0px 10px; BORDER-BOTTOM: #2f64ac 1px solid
}
IMG.sign00000499 {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: blue
}
IMG.sign00000499m {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: blue
}
IMG.sign00000499t {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: blue
}
IMG.sign00000499s {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: blue
}
IMG.sign00000499l {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: blue
}
IMG.sign05000999 {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: green
}
IMG.sign05000999m {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: green
}
IMG.sign05000999t {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: green
}
IMG.sign05000999s {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: green
}
IMG.sign05000999l {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: green
}
IMG.sign10001499 {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: yellow
}
IMG.sign10001499m {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: yellow
}
IMG.sign10001499t {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: yellow
}
IMG.sign10001499s {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: yellow
}
IMG.sign10001499l {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: yellow
}
IMG.sign15001999 {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: orange
}
IMG.sign15001999m {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: orange
}
IMG.sign15001999t {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: orange
}
IMG.sign15001999s {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: orange
}
IMG.sign15001999l {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: orange
}
IMG.sign20002999 {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: red
}
IMG.sign20002999m {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: red
}
IMG.sign20002999t {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: red
}
IMG.sign20002999s {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: red
}
IMG.sign20002999l {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: red
}
IMG.sign30005000 {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: purple
}
IMG.sign30005000m {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: purple
}
IMG.sign30005000t {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: purple
}
IMG.sign30005000s {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: purple
}
IMG.sign30005000l {
	DISPLAY: none; MARGIN: 0px; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: purple
}
IMG.sign00000499 {
	WIDTH: 9px; HEIGHT: 9px
}
IMG.sign05000999 {
	WIDTH: 9px; HEIGHT: 9px
}
IMG.sign10001499 {
	WIDTH: 9px; HEIGHT: 9px
}
IMG.sign15001999 {
	WIDTH: 9px; HEIGHT: 9px
}
IMG.sign20002999 {
	WIDTH: 9px; HEIGHT: 9px
}
IMG.sign30005000 {
	WIDTH: 9px; HEIGHT: 9px
}
IMG.sign00000499m {
	WIDTH: 3px; HEIGHT: 40px
}
IMG.sign05000999m {
	WIDTH: 3px; HEIGHT: 40px
}
IMG.sign10001499m {
	WIDTH: 3px; HEIGHT: 40px
}
IMG.sign15001999m {
	WIDTH: 3px; HEIGHT: 40px
}
IMG.sign20002999m {
	WIDTH: 3px; HEIGHT: 40px
}
IMG.sign30005000m {
	WIDTH: 3px; HEIGHT: 40px
}
IMG.sign00000499t {
	WIDTH: 3px; HEIGHT: 89px
}
IMG.sign05000999t {
	WIDTH: 3px; HEIGHT: 89px
}
IMG.sign10001499t {
	WIDTH: 3px; HEIGHT: 89px
}
IMG.sign15001999t {
	WIDTH: 3px; HEIGHT: 89px
}
IMG.sign20002999t {
	WIDTH: 3px; HEIGHT: 89px
}
IMG.sign30005000t {
	WIDTH: 3px; HEIGHT: 89px
}
IMG.sign00000499s {
	WIDTH: 5px; HEIGHT: 133px
}
IMG.sign05000999s {
	WIDTH: 5px; HEIGHT: 133px
}
IMG.sign10001499s {
	WIDTH: 5px; HEIGHT: 133px
}
IMG.sign15001999s {
	WIDTH: 5px; HEIGHT: 133px
}
IMG.sign20002999s {
	WIDTH: 5px; HEIGHT: 133px
}
IMG.sign30005000s {
	WIDTH: 5px; HEIGHT: 133px
}
IMG.sign00000499l {
	WIDTH: 6px; HEIGHT: 532px
}
IMG.sign05000999l {
	WIDTH: 6px; HEIGHT: 532px
}
IMG.sign10001499l {
	WIDTH: 6px; HEIGHT: 532px
}
IMG.sign15001999l {
	WIDTH: 6px; HEIGHT: 532px
}
IMG.sign20002999l {
	WIDTH: 6px; HEIGHT: 532px
}
IMG.sign30005000l {
	WIDTH: 6px; HEIGHT: 532px
}
IMG.mini {
	WIDTH: 45px; HEIGHT: 40px
}
IMG.tiny {
	WIDTH: 100px; HEIGHT: 89px
}
IMG.small {
	WIDTH: 150px; HEIGHT: 133px
}
IMG.large {
	WIDTH: 600px; HEIGHT: 532px
}
P.red {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
SPAN.red {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
TD.red {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
A.red {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
P.mred {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #ff0000
}
SPAN.mred {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #ff0000
}
TD.mred {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #ff0000
}
A.mred {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #ff0000
}
P.sred {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ff0000
}
SPAN.sred {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ff0000
}
TD.sred {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ff0000
}
A.sred {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ff0000
}
TH.red {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #ff0000
}
SPAN.bigred {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #ff0000
}
TD.bigred {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #ff0000
}
TH.bigred {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #ff0000
}
P.sblack {
	FONT-WEIGHT: normal; COLOR: #000000
}
SPAN.sblack {
	FONT-WEIGHT: normal; COLOR: #000000
}
TD.sblack {
	FONT-WEIGHT: normal; COLOR: #000000
}
A.sblack {
	FONT-WEIGHT: normal; COLOR: #000000
}
P.black {
	FONT-WEIGHT: bold; COLOR: #000000
}
SPAN.black {
	FONT-WEIGHT: bold; COLOR: #000000
}
TD.black {
	FONT-WEIGHT: bold; COLOR: #000000
}
A.black {
	FONT-WEIGHT: bold; COLOR: #000000
}
P.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
TH.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
SPAN.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
TD.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
TH.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
P.grey {
	FONT-WEIGHT: bold; COLOR: #666666
}
STRONG.grey {
	FONT-WEIGHT: bold; COLOR: #666666
}
SPAN.grey {
	FONT-WEIGHT: bold; COLOR: #666666
}
TD.grey {
	FONT-WEIGHT: bold; COLOR: #666666
}
A.grey {
	FONT-WEIGHT: bold; COLOR: #666666
}
P.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
TH.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
SPAN.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
TD.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
TH.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
P.alt {
	FONT-SIZE: 1em; COLOR: #999999
}
SPAN.alt {
	FONT-SIZE: 1em; COLOR: #999999
}
P.rounded_header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px
}
DIV.rounded {
	BACKGROUND: url("../img/grey_corner_rb.gif") no-repeat right bottom
}
DIV.rounded H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url("../img/grey_corner_lt.gif") no-repeat left top; PADDING-BOTTOM: 3px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 3px
}
DIV.rounded H4 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.rounded H4 A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.rounded H4 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.rounded H4 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.rounded H5 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 1px 1px 0px; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV.rounded H5 A:link {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.rounded H5 A:active {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.rounded H5 A:visited {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.rounded H5 A:hover {
	FONT-WEIGHT: bold; COLOR: #999999
}
DIV.rounded H6 {
	PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; COLOR: #666666; PADDING-TOP: 3px; BACKGROUND-COLOR: #fafafa
}
DIV.rounded H6 A:link {
	FONT-WEIGHT: normal; COLOR: #666666
}
DIV.rounded H6 A:active {
	FONT-WEIGHT: normal; COLOR: #666666
}
DIV.rounded H6 A:visited {
	FONT-WEIGHT: normal; COLOR: #666666
}
DIV.rounded H6 A:hover {
	FONT-WEIGHT: normal; COLOR: #999999
}
DIV.rounded P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.rounded TABLE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.rounded UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.rounded DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.rounded P A:link {
	FONT-WEIGHT: bold
}
DIV.rounded P A:active {
	FONT-WEIGHT: bold
}
DIV.rounded P A:visited {
	FONT-WEIGHT: bold
}
DIV.rounded P A:hover {
	FONT-WEIGHT: bold
}
DIV.rounded TABLE {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
DIV.rounded TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
DIV.rounded TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
DIV.rounded DIV.boxhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url("../img/grey_corner_rt.gif") no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.rounded DIV.boxbody {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url("../img/grey_corner_lb.gif") no-repeat left bottom; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
DIV.main_box H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box H2 {
	BACKGROUND-COLOR: #2f64ac
}
DIV.main_box H1 A:link {
	COLOR: #ffffff
}
DIV.main_box H1 A:active {
	COLOR: #ffffff
}
DIV.main_box H1 A:visited {
	COLOR: #ffffff
}
DIV.main_box H1 A:hover {
	COLOR: #ffffff
}
DIV.main_box H2 A:link {
	COLOR: #ffffff
}
DIV.main_box H2 A:active {
	COLOR: #ffffff
}
DIV.main_box H2 A:visited {
	COLOR: #ffffff
}
DIV.main_box H2 A:hover {
	COLOR: #ffffff
}
DIV.main_box H3 A:link {
	COLOR: #ffffff
}
DIV.main_box H3 A:active {
	COLOR: #ffffff
}
DIV.main_box H3 A:visited {
	COLOR: #ffffff
}
DIV.main_box H3 A:hover {
	COLOR: #ffffff
}
DIV.main_box H4 A:link {
	COLOR: #ffffff
}
DIV.main_box H4 A:active {
	COLOR: #ffffff
}
DIV.main_box H4 A:visited {
	COLOR: #ffffff
}
DIV.main_box H4 A:hover {
	COLOR: #ffffff
}
DIV.main_box H5 A:link {
	COLOR: #ffffff
}
DIV.main_box H5 A:active {
	COLOR: #ffffff
}
DIV.main_box H5 A:visited {
	COLOR: #ffffff
}
DIV.main_box H5 A:hover {
	COLOR: #ffffff
}
DIV.main_box H6 A:link {
	COLOR: #ffffff
}
DIV.main_box H6 A:active {
	COLOR: #ffffff
}
DIV.main_box H6 A:visited {
	COLOR: #ffffff
}
DIV.main_box H6 A:hover {
	COLOR: #ffffff
}
DIV.main_box H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase
}
DIV.main_box H4 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.main_box H4 A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.main_box H4 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.main_box H4 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
DIV.main_box H5 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #f4f4f4 1px solid; BACKGROUND-COLOR: #ebebeb
}
DIV.main_box H5 A:link {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.main_box H5 A:active {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.main_box H5 A:visited {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.main_box H5 A:hover {
	FONT-WEIGHT: bold; COLOR: #999999
}
DIV.main_box H6 {
	PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; COLOR: #666666; PADDING-TOP: 3px; BACKGROUND-COLOR: #fafafa
}
DIV.main_box H6 A:link {
	FONT-WEIGHT: normal; COLOR: #666666
}
DIV.main_box H6 A:active {
	FONT-WEIGHT: normal; COLOR: #666666
}
DIV.main_box H6 A:visited {
	FONT-WEIGHT: normal; COLOR: #666666
}
DIV.main_box H6 A:hover {
	FONT-WEIGHT: normal; COLOR: #999999
}
DIV.main_box P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.main_box TABLE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.main_box UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.main_box DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 8px; MARGIN: 0px 1px; PADDING-TOP: 8px; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffffff
}
DIV.main_box P A:link {
	FONT-WEIGHT: bold
}
DIV.main_box P A:active {
	FONT-WEIGHT: bold
}
DIV.main_box P A:visited {
	FONT-WEIGHT: bold
}
DIV.main_box P A:hover {
	FONT-WEIGHT: bold
}
DIV.main_box TABLE {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 99%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
DIV.main_box TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
DIV.main_box TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
DIV.main_box UL {
	LIST-STYLE-TYPE: none
}
DIV.main_box UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; PADDING-TOP: 5px
}
DIV.main_box UL LI A:link {
	FONT-WEIGHT: bold; COLOR: #333333
}
DIV.main_box UL LI A:active {
	FONT-WEIGHT: bold; COLOR: #333333
}
DIV.main_box UL LI A:visited {
	FONT-WEIGHT: bold; COLOR: #333333
}
DIV.main_box UL LI A:hover {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.main_box UL.nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.main_box UL.nav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #f4f4f4 1px solid
}
DIV.main_box UL.nav LI A:link {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI A:active {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI A:visited {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI A:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #f4f4f4; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI.current A:link {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #f4f4f4; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI.current A:active {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #f4f4f4; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI.current A:visited {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #f4f4f4; BORDER-RIGHT-WIDTH: 0px
}
DIV.main_box UL.nav LI.current A:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #f4f4f4; BORDER-RIGHT-WIDTH: 0px
}
#current_nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; LIST-STYLE-IMAGE: url("../img/alt_bullet.gif"); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
#current_nav TABLE {
	WIDTH: 100%
}
#current_nav TD {
	VERTICAL-ALIGN: top; WIDTH: auto
}
#current_nav TH {
	VERTICAL-ALIGN: top; WIDTH: auto
}
#current_nav #last_seen_also_see {
	WIDTH: 160px
}
#current_nav #last_seen_also_see IMG {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid
}
#headernav {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 100%; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#headernav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 60px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#headernav LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 10px; PADDING-TOP: 0px
}
#headernav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: url("../img/left.gif") no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#headernav A SPAN {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: url("../img/right.gif") no-repeat right top; FLOAT: none; PADDING-BOTTOM: 6px; COLOR: #666666; PADDING-TOP: 9px
}
#headernav #current A {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -150px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
#headernav #current A SPAN {
	BACKGROUND-POSITION: 100% -150px; COLOR: #ffffff
}
#headernav A:hover {
	BACKGROUND-POSITION: 0% -150px; COLOR: #ffffff
}
#headernav A:hover SPAN {
	BACKGROUND-POSITION: 100% -150px; COLOR: #ffffff
}
#headernav A.ongletsimg {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#headernav A.ongletsimg:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#headernav IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: white; BORDER-RIGHT-WIDTH: 0px
}
#headernav LI.tab_spacer {
	MARGIN-LEFT: 30px
}
#searchbox {
	CLEAR: both; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #ffffff; BACKGROUND-COLOR: #cc0000; TEXT-ALIGN: center
}
#searchbox A:link {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox A:visited {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox A:active {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox A:hover {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox TD {
	FONT-WEIGHT: 800; COLOR: #ffffff; TEXT-DECORATION: none
}
#searchbox #search_input {
	BORDER-RIGHT: #fafafa 1px solid; BORDER-TOP: #fafafa 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #fafafa 1px solid; COLOR: #194e97; BORDER-BOTTOM: #fafafa 1px solid
}
#headerlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#headerlink A:link {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #333333; TEXT-DECORATION: none
}
#headerlink A:visited {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #333333; TEXT-DECORATION: none
}
#headerlink A:active {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #333333; TEXT-DECORATION: none
}
#headerlink A:hover {
	FONT-WEIGHT: 800; VERTICAL-ALIGN: bottom; COLOR: #194e97; TEXT-DECORATION: none
}
#headerlink .links {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 8px 10px; PADDING-TOP: 0px
}
#headerlink .links IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 10px; PADDING-TOP: 8px
}
#headerlogo {
	FLOAT: left; MARGIN: 0px; WIDTH: auto
}
#headerlink #flags {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#headerlink #flags #phone {
	MARGIN-RIGHT: 10px
}
#footer_search_box {
	CLEAR: both; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #194e97; TEXT-ALIGN: right
}
#footer_search_box INPUT {
	FONT-SIZE: 11px; MARGIN: 3px; COLOR: #194e97
}
#footer_links {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #2f64ac; TEXT-ALIGN: left
}
#footer_links A:link {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links A:active {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links A:visited {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links A:hover {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#footer_links P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#footer_flags IMG {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
#footer_group {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #000000; TEXT-ALIGN: right
}
.txtSearch1 {
	BORDER-RIGHT: #2f64ac 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #2f64ac 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #2f64ac 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #2f64ac 1px solid
}
#cloack {
	FONT-SIZE: 9px; COLOR: #cccccc; TEXT-ALIGN: center
}
#cloack A {
	FONT-SIZE: 9px; COLOR: #cccccc; TEXT-ALIGN: center
}
#location_bar {
	FONT-SIZE: 11px; COLOR: #999999; BACKGROUND-COLOR: #ffffff
}
#location_bar A:link {
	FONT-SIZE: 11px; COLOR: #999999
}
#location_bar A:active {
	FONT-SIZE: 11px; COLOR: #999999
}
#location_bar A:visited {
	FONT-SIZE: 11px; COLOR: #999999
}
#location_bar A:hover {
	FONT-SIZE: 11px; COLOR: #999999; TEXT-DECORATION: underline
}
#location_bar H1 {
	DISPLAY: inline; FONT-SIZE: 11px; MARGIN: 0px
}
.odd {
	BACKGROUND-COLOR: #fafafa
}
.even {
	BACKGROUND-COLOR: #ffffff
}
#minisky_left {
	MARGIN-BOTTOM: 15px
}
TABLE.select {
	BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%
}
TABLE.select P {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; LINE-HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.select TD {
	PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; WIDTH: 25%; TEXT-ALIGN: center
}
TABLE.select A:link {
	FONT-WEIGHT: bold; COLOR: #000000
}
TABLE.select A:visited {
	FONT-WEIGHT: bold; COLOR: #000000
}
TABLE.select A:active {
	FONT-WEIGHT: bold; COLOR: #000000
}
TABLE.select A:hover {
	FONT-WEIGHT: bold; COLOR: #666666
}
DIV.main_box#engagements A {
	FONT-WEIGHT: bold; COLOR: #194e97
}
DIV.main_box#engagements LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 15px; MARGIN: 0px; PADDING-TOP: 5px
}
DIV.main_box#engagements UL {
	BORDER-RIGHT: #194e97 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #194e97 1px solid; PADDING-TOP: 0px
}
DIV.main_box#box_reviews {
	WIDTH: 170px
}
DIV.main_box#box_reviews A {
	FONT-WEIGHT: bold
}
DIV.main_box#groupeFotovista A {
	FONT-WEIGHT: bold
}
DIV.main_box#box_mypixmania A {
	FONT-WEIGHT: bold
}
DIV.main_box#top A {
	FONT-WEIGHT: normal; COLOR: #000000
}
DIV.main_box#top A:hover {
	TEXT-DECORATION: none
}
DIV.main_box#top IMG {
	VERTICAL-ALIGN: middle
}
DIV.main_box#top IMG.prod {
	WIDTH: 59px; HEIGHT: 52px
}
DIV.main_box#top P {
	CLEAR: both
}
DIV.main_box#top {
	WIDTH: 170px
}
DIV.main_box#guide_achat {
	WIDTH: 170px
}
DIV.main_box#box_affiliation P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.main_box#box_caddy P {
	TEXT-ALIGN: left
}
DIV.main_box#box_caddy P:hover {
	BACKGROUND-COLOR: #f4f4f4
}
DIV.main_box#box_caddy A {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
DIV.main_box#box_caddy A:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
DIV.main_box#box_caddy A:active {
	FONT-WEIGHT: normal; COLOR: #194e97; TEXT-DECORATION: none
}
DIV.main_box#box_caddy A:hover {
	FONT-WEIGHT: normal; COLOR: #194e97; TEXT-DECORATION: none
}
DIV.main_box#box_caddy #box_caddy_total {
	BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: center
}
DIV.main_box#box_caddy SPAN.quantity {
	FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: #194e97
}
.cPrice {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #194e97
}
.dPrice {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000
}
#dspCaddy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 99%; PADDING-TOP: 0px
}
.boxGrey {
	BORDER-RIGHT: #194e97 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #194e97 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #194e97 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #194e97 1px solid
}
.boxGrey H2 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px; TEXT-TRANSFORM: lowercase; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #194e97; TEXT-ALIGN: left
}
.boxGrey H2:first-letter {
	FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff
}
.boxGrey H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-COLOR: #f4f4f4
}
.boxGrey H4 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 3px; BACKGROUND-COLOR: #cccccc
}
.lstItems {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.lstItems TD {
	PADDING-RIGHT: 3px; BORDER-TOP: #dfdfdf 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
TH {
	PADDING-RIGHT: 3px; BORDER-TOP: #dfdfdf 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
.lstItems TH {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f4f4f4
}
.lstItems TD.libItem {
	PADDING-RIGHT: 10px; PADDING-LEFT: 3px; LINE-HEIGHT: 16px; TEXT-ALIGN: left
}
.lstItems TD.libItem:first-line {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000
}
.lstItems TD.libItem A {
	COLOR: #000000; TEXT-DECORATION: none
}
.lstItems TD.libItem A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.lstItems .quantity {
	WIDTH: 100px; TEXT-ALIGN: center
}
.lstItems .quantity INPUT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; WIDTH: 60px; BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: center
}
.lstItems .quantity INPUT:hover {
	BORDER-RIGHT: #194e97 1px solid; BORDER-TOP: #194e97 1px solid; BORDER-LEFT: #194e97 1px solid; BORDER-BOTTOM: #194e97 1px solid
}
.lstItems .quantity P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.lstItems .imgItem {
	WIDTH: 50px
}
.lstItems .imgItem IMG {
	VERTICAL-ALIGN: top; WIDTH: 45px; HEIGHT: 40px
}
.unitPrice {
	MARGIN-LEFT: 20px; WIDTH: 100px; TEXT-ALIGN: right
}
.totalPrice {
	MARGIN-LEFT: 20px; WIDTH: 100px; TEXT-ALIGN: right
}
SPAN.disponibilite {
	TEXT-TRANSFORM: uppercase; COLOR: #194e97
}
.odd {
	BACKGROUND-COLOR: #fafafa
}
.even {
	BACKGROUND-COLOR: #ffffff
}
DIV#recalculate {
	MARGIN: 3px; WIDTH: 100%; COLOR: #666666; FONT-STYLE: italic; TEXT-ALIGN: right
}
DIV#recalculate INPUT {
	BORDER-RIGHT: #194e97 1px outset; BORDER-TOP: #194e97 1px outset; FONT-WEIGHT: bold; BORDER-LEFT: #194e97 1px outset; COLOR: #194e97; BORDER-BOTTOM: #194e97 1px outset; FONT-STYLE: normal; BACKGROUND-COLOR: #ffffff
}
#fraisLivraison {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 350px
}
#fraisLivraison FIELDSET {
	BORDER-RIGHT: #194e97 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #194e97 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #194e97 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #194e97 1px solid
}
#fraisLivraison LEGEND {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #194e97; PADDING-TOP: 0px
}
#fraisLivraison INPUT {
	VERTICAL-ALIGN: middle
}
#fraisLivraison TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
#fraisLivraison TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
#fraisLivraison TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 80px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#recap_caddy {
	CLEAR: both; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 15px; FLOAT: right
}
#recap_caddy TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; COLOR: #194e97; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
#recap_caddy TD {
	PADDING-LEFT: 15px; FONT-SIZE: 10px; COLOR: #ff0000; TEXT-ALIGN: right
}
#recap_caddy TD:first-line {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
#home #col_main A:link {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main A:hover {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main A:active {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main A:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
#home #col_main H3 A:link {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 A:hover {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 A:active {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 A:visited {
	FONT-WEIGHT: bold; COLOR: #666666
}
#home #col_main H3 {
	MARGIN: 20px 0px 10px; BORDER-BOTTOM: #666666 1px solid
}
#home #col_main A.home_cat_list_header:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main A.home_cat_list_header:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main A.home_cat_list_header:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main A.home_cat_list_header:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #194e97
}
#home #col_main #home_cat_list DIV {
	FLOAT: left; WIDTH: 48%; MARGIN-RIGHT: 5px; TEXT-ALIGN: justify
}
#home #col_main #top_sellers TABLE {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; FLOAT: left; MARGIN: 0px 0px 5px 5px; BORDER-LEFT: #dedede 1px solid; WIDTH: 48%; BORDER-BOTTOM: #dedede 1px solid; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
#home #col_main #top_sellers THEAD TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #f4f4f4; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#home #col_main #top_sellers TBODY TH {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666666; BORDER-RIGHT-WIDTH: 0px
}
#home #col_main #top_sellers TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#home #col_main #top_sellers A:link {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers A:hover {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers A:visited {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers A:active {
	FONT-WEIGHT: normal; COLOR: #333333
}
#home #col_main #top_sellers .red {
	TEXT-ALIGN: right
}
#nav_last_seen {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #fafafa
}
#nav_last_seen A:active {
	FONT-WEIGHT: normal; COLOR: #000000
}
#nav_last_seen A:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
#nav_last_seen A:link {
	FONT-WEIGHT: normal; COLOR: #000000
}
#nav_last_seen A:hover {
	FONT-WEIGHT: bold; COLOR: #000000
}
#nav_last_seen UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none; list-stype-position: inside
}
#nav_last_seen #last_also_seen {
	WIDTH: 200px; TEXT-ALIGN: center
}
#nav_last_seen #last_also_seen IMG {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid
}
INPUT.submit_plain {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; CURSOR: pointer; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
SPAN.add_product {
	PADDING-RIGHT: 0px; PADDING-LEFT: 29px; BACKGROUND: url("../images/btn_acheter_gch.gif") no-repeat left center; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; HEIGHT: 40px
}
SPAN.add_product A:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url("../images/btn_drt.gif") no-repeat right center; PADDING-BOTTOM: 6px; COLOR: #c30c49; PADDING-TOP: 6px; HEIGHT: 100%
}
SPAN.add_product A:hover {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url("../images/btn_drt.gif") no-repeat right center; PADDING-BOTTOM: 6px; COLOR: #c30c49; PADDING-TOP: 6px; HEIGHT: 100%
}
SPAN.add_product A:active {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url("../images/btn_drt.gif") no-repeat right center; PADDING-BOTTOM: 6px; COLOR: #c30c49; PADDING-TOP: 6px; HEIGHT: 100%
}
SPAN.add_product A:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url("../images/btn_drt.gif") no-repeat right center; PADDING-BOTTOM: 6px; COLOR: #c30c49; PADDING-TOP: 6px; HEIGHT: 100%
}
.checkout_order TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.tbl_checkout {
	BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; WIDTH: 550px; BORDER-BOTTOM: #dedede 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafafa; border-spacing: 0px
}
.tbl_checkout TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.tbl_checkout TH {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; BACKGROUND-COLOR: #fafafa; TEXT-ALIGN: left
}
.tbl_checkout TH.required {
	BACKGROUND: url("../images/right_red_arrow.gif") no-repeat 3px center
}
.tbl_checkout INPUT {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #999999 1px solid; WIDTH: 250px; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid
}
.tbl_checkout SELECT {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 250px; BORDER-BOTTOM: #999999 1px solid
}
.tbl_checkout SELECT.error {
	BORDER-RIGHT: #ff0000 1px dotted; BORDER-TOP: #ff0000 1px dotted; MARGIN: 0px; BORDER-LEFT: #ff0000 1px dotted; BORDER-BOTTOM: #ff0000 1px dotted; BACKGROUND-COLOR: #fff2f2
}
.tbl_checkout INPUT.error {
	BORDER-RIGHT: #ff0000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #ff0000 1px dotted; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #ff0000 1px dotted; PADDING-TOP: 3px; BORDER-BOTTOM: #ff0000 1px dotted; BACKGROUND-COLOR: #fff2f2
}
.tbl_checkout INPUT.hidden {
	BORDER-RIGHT: #ff0000 0px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #ff0000 0px dotted; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ff0000 0px dotted; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #ff0000 0px dotted; BACKGROUND-COLOR: #ffffff
}
.tbl_checkout P.error {
	COLOR: #fff2f2
}
.tbl_checkout TH.checkout_title {
	BORDER-RIGHT: #dedede 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dedede 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dedede 1px solid; COLOR: #444444; PADDING-TOP: 3px; BORDER-BOTTOM: #dedede 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.tbl_checkout INPUT.checkout_radio {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: auto; BORDER-RIGHT-WIDTH: 0px
}
.homeplateButton {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 1px; BORDER-LEFT: #000000 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #CC0000
}
