BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
EM {
	FONT-STYLE: italic
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:link {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:hover {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:active {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H1 A:visited {
	FONT-SIZE: 24px; MARGIN: 0px; COLOR: #000000; LINE-HEIGHT: 1em
}
H2 {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:link {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:hover {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:active {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H2 A:visited {
	FONT-SIZE: 18px; MARGIN: 0px; LINE-HEIGHT: 1.3em
}
H3 {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:link {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:hover {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:active {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H3 A:visited {
	FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 1.2em
}
H4 {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:link {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:hover {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:active {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H4 A:visited {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:link {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:hover {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:active {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H5 A:visited {
	FONT-SIZE: 11px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:link {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:hover {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:active {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
H6 A:visited {
	FONT-SIZE: 10px; MARGIN: 0px; LINE-HEIGHT: 1.1em
}
I {
	FONT-STYLE: italic
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
IMG.mini {
	WIDTH: 45px; HEIGHT: 40px
}
IMG.tiny {
	WIDTH: 100px; HEIGHT: 89px
}
IMG.small {
	WIDTH: 150px; HEIGHT: 133px
}
IMG.large {
	WIDTH: 600px; HEIGHT: 532px
}
TD.titelcell {
  background-color:#FFFFFF
}
TH {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	PADDING-RIGHT: 3px; BORDER-TOP: #dfdfdf 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
TH.bigred {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #ff0000
}
TH.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
TH.black {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #000000
}
TH.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
TH.grey {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #666666
}
TH.red {
	FONT-WEIGHT: 800; FONT-SIZE: 18px; COLOR: #ff0000
}
UL {
	FONT-SIZE: 11px; LINE-HEIGHT: 1.4em
}
